version: "3.9"

services:
  rag_api:
    build: .
    container_name: rag-api
    ports:
      - "8000:8000"
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
    volumes:
      - ./chroma_db:/app/chroma_db
